<!DOCTYPE html>
<html>
  <head>
    <title>Star Puzzle</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="subject" content="Star Puzzle">
    <meta name="title" content="Star Puzzle.io">
    <meta name="author" content="WooksDev">
    <meta name="keywords" content="game,games,online,io,puzzle,star,star puzzle, star-puzzle">
    <meta name="description" content="Competition Puzzle game, Star Puzzle!">
    <meta property="og:type" content="game">
    <meta property="og:title" content="Star Puzzle.io">
    <meta property="og:description" content="Competition Puzzle game, Star Puzzle!">
    <meta property="og:url" content="https://star-puzzle.io">
    <meta property="og:site_name" content="Star Puzzle io">
    <meta property="og:image" content="https://star-puzzle.io/assets/images/facebookThumbnail.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Star Puzzle.io">
    <meta name="twitter:site" content="https://star-puzzle.io" />
    <meta name="twitter:description" content="Competition Puzzle game, Star Puzzle!">
    <meta name="twitter:image:src" content="https://star-puzzle.io/assets/images/facebookThumbnail.png">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="/build/css/main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112883634-2"></script>
    <!-- <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112883634-2');
    </script> -->
    <!-- user report -->
    <script type="text/javascript">
      window._urq = window._urq || [];
      _urq.push(['initSite', 'f4197b93-e0bb-40a7-bf20-44e059b67c8b']);
      (function() {
      var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
      ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
      })();
    </script>
    <!-- ads -->
    <script async src="//api.adinplay.com/libs/aiptag/pub/WOF/star-puzzle.io/tag.min.js"></script>
    <script>
    var aiptag = aiptag || {}, aipEventHandler = new Function();
    aiptag.cmd = aiptag.cmd || [];
    aiptag.cmd.display = aiptag.cmd.display || [];	aiptag.cmd.player = aiptag.cmd.player || [];

    aiptag.consented = false;

    aiptag.cmd.player.push(function() {
      adplayer = new aipPlayer({
        AD_WIDTH: 960,
        AD_HEIGHT: 540,
        AD_FULLSCREEN: true,
        AD_CENTERPLAYER: false,
        LOADING_TEXT: 'loading advertisement',
        PREROLL_ELEM: function(){return document.getElementById('preroll')},
        AIP_COMPLETE: function ()  {
          aipEventHandler();
        },
        AIP_REMOVE: function ()  {}
      });
    });
    </script>
    <!-- cookie bot -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c8c1023-4074-4024-9043-c49d72af2d12" type="text/javascript" async></script>
    <script type="text/javascript">
      function CookiebotCallback_OnAccept() {
        // enable google analytics
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112883634-2');

        // set ad consent true;
        aiptag.consented = true;
      }
    </script>
    <script>
    <% if (user) { %>
      var user = <%- JSON.stringify(user) %>;
      var duplicate = <%- JSON.stringify(duplicate) %>;
    <% } else { %>
      var user = null;
    <% } %>
    </script>
    <!-- delete facebook hash -->
    <script type="text/javascript">
      if (window.location.hash == '#_=_'){
          history.replaceState
              ? history.replaceState(null, null, window.location.href.split('#')[0])
              : window.location.hash = '';
      }
  </script>
  </head>
  <body>
    <div id="game">
      <div id="blur-game" class="blur disable"></div>
    </div>
    <div id="ajax-loading" class="disable"><img src="/assets/images/ajaxLoading.gif" /></div>
    <div id="lobby-chatting" class="disable">
      <div id="lobby-chat-container"></div>
      <div id="lobby-chat-users"><div id="lobby-chat-user-count">0</div></div>
      <input id="lobby-chat-input" type="text" maxlength="125">
      <button id="lobby-chat-submit">Enter</button>
    </div>
    <div id="game-chatting" class="disable">
      <div id="game-chat-container"></div>
      <input id="game-chat-input" type="text" maxlength="125">
      <button id="game-chat-submit">Enter</button>
    </div>
    <div id="footer">
      <div class="footer-texts">
        <a href="/terms-and-conditions" target="_blank">● Terms</a>&nbsp; &nbsp; &nbsp;
        <a href="/privacy-policy" target="_blank">● Privacy-Policy</a>
      </div>
      <div class="footer-buttons">
        <a class="footer-button" href="http://iogames.space/" target="_blank" class="moreIOBtn">More IO Games</a>
      </div>
    </div>
    <div id="ad-container" class="disable">
      <div id='star-puzzle-io_300x250'></div>
      <script type='text/javascript'>
        aiptag.cmd.display.push(function() { aipDisplayTag.display('star-puzzle-io_300x250'); });
      </script>
    </div>
    <div id="preroll"></div>
    <button id="ad-refresh-display" class="disable" onclick="aiptag.cmd.display.push(function() { aipDisplayTag.display('star-puzzle-io_300x250'); });">Refresh Ad</button>
    <button id="ad-play-video" class="disable" onclick="aiptag.cmd.player.push(function() { adplayer.startPreRoll(); });">Show Video Ad</button>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/phaser-ce@2.11.0"></script> <!-- minified version -->
    <!-- <script src="//cdn.jsdelivr.net/npm/phaser-ce@2.11.0/build/phaser.js"></script> -->
    <script src="/build/bundle.min.js"></script>
    <!-- <script src="/js/util/global.js"></script>
    <script src="/js/util/phaser-input.js"></script>
    <script src="/js/bundle.js"></script> -->
  </body>
</html>
