<!DOCTYPE html>
<html>
  <head>
    <title>Update</title>
    <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">
    <style>
      * { box-sizing: border-box; font-family: Emblema One; margin: 0; padding: 0; text-align: center; color: white;}
      .bg { position: fixed; width: 100%; height: 100%; background-image: url(../assets/images/background.png); background-size: cover; background-repeat: no-repeat;}
      .text-container { position: absolute; left: 50%; top: 40%; transform: translate(-50%, -50%); }
    </style>
  </head>
  <body>
    <div class="bg">
      <div class="text-container">
        <div style="font-size: 3em">Title</div>
        <div style="font-size: 1em">on Updating ...</div>
      </div>
    </div>
  </body>
</html>
